{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Product</title>
    <link rel="stylesheet" href="{% static 'martapp/buy_product.css' %}">
</head>
<body>
    <div class="buy-container">
        <div class="product-box">
            {% if product_image_base64 %}
                <img src="data:image/png;base64,{{ product_image_base64 }}" alt="{{ product.product_name }}">
            {% else %}
                <p>No image available</p>
            {% endif %}

            <h2>{{ product.product_name }}</h2>
            <p><strong>Seller:</strong> {{ product.seller_name.username }}</p>
            <p><strong>Type:</strong> {{ product.product_type }}</p>
            <p><strong>Price:</strong> ₹{{ product.price }}</p>

            <form method="POST">
                {% csrf_token %}
                <button class="buy-btn" type="submit">Buy Now</button>
            </form>

            <div class="review-links">
                <a href="{% url 'submit-review' product.id %}">Leave a Review</a>
<a href="{% url 'submit-rating' product.id %}">Rate Product</a>
              </div>
              

        </div>
    </div>
</body>
</html>
