{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'martapp/style.css' %}">
</head>
<body>

    <div class="left-container">
        <h1>Welcome, {{ profile.username}}</h1>
        
        <h2>Products Bought</h2>
        <div class="scrollable-table">
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Seller</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products_bought %}
                    <tr>
                        <td>{{ product.product.product_name }}</td>
                        <td>₹{{ product.price }}</td>
                        <td>{{ product.seller.username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Products Sold</h2>
        <div class="scrollable-table">
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Buyer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products_sold %}
                    <tr>
                        <td>{{ product.product.product_name }}</td>
                        <td>₹{{ product.price }}</td>
                        <td>{{ product.buyer.username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="main-content">
        
    </div>


    <div class="right-container">
           <a href="{% url 'dashboard' %}" class="back-button">Back</a> <br>
           </br>
        <button onclick="window.location.href='{% url 'logout' %}'">Logout</button><br></br>
        <button onclick="window.location.href='{% url 'sell_product' %}'">Sell Products</button><br><br>
        <button onclick="window.location.href='{% url 'change_username' %}'">Change Username</button><br><br>
        <button onclick="window.location.href='{% url 'change_password' %}'">Change Password</button><br></br>
        <button onclick="window.location.href='{% url 'seller_inventory' %}'">Inventory</button>
    </div>
</body>
</html>
