body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.form-container {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    border: 2px solid #201f1f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 400px; 
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 1px;
}

input {
    width: 85%; 
    padding: 10px; 
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button {
  	justify-content: center;
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 15px; 
    background-color: #007BFF; 
    color: white; 
    font-size: 16px;
    margin-bottom: 3px;
}

button:hover {
    background-color: rgb(50, 43, 117); 
}

.back-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #201f1f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
}

.back-button:hover {
    background-color: red;
}

